[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.4"
django-debug-toolbar = "==4.1.0"
mysqlclient = "*"
asgiref = "==3.7.2"
sqlparse = "==0.4.4"
psycopg2-binary = ">=2.8"
boto3 = ">=1.28.24"
django-storages = "*"
python-dotenv = "*"
xmlschema = "*"
django-stomp = "*"

[dev-packages]

[requires]
python_version = "3.11"
